* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  display: flex;
  min-height: 25vh;
  align-items: center;
  justify-content: center;
}

.my-btn {
  border: none;
  padding: 8px;
  margin: 8px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 8px;
  letter-spacing: 2px;
  background-color: navajowhite;
  transition: all ease-in-out 0.3s;
}

.my-btn:hover {
  color: #61dafb;
  border-radius: 10px;
  background-color: #282c34;
  transition: all ease-in-out 0.3s;
}

.input-box {
  padding-left: 5px;
  border-radius: 10px;
  border: solid 1px #000;
}

.search-input {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: lavender;
  transition: all ease-in-out 0.3s;
}

.search-input:focus {
  outline: none;
  padding-left: 15px;
  transition: all ease-in-out 0.3s;
}

.search-input:focus::placeholder {
  color: #282c34;
}